<%= render partial:'layouts/section/carousel' %>

<%= render partial:'layouts/section/models'%>

<div class="p-5">

  <div class="container p-5">

    <div class= "row align-items-center justify-content-center p-5">

      <a href="#nav-bloc">

        <small><i>back to top</i></small>

      </a>

    </div>

  </div>

</div>
