<!-- Page Content-->
<div class="p-5">

  <div class="container p-5">

    <div class= "row align-items-center justify-content-center p-5">

      <p>A virtual 3D project to promote <i>ethical</i> and <i>sustainable</i> fashion.</p>

    </div>

    <div class= "row align-items-center justify-content-center">

        <%= link_to "Enter", design_path, class:"btn btn-light"%>

    </div>

    <div class= "row align-items-center justify-content-center p-5">

      <small><i>note: design page might take a moment to load</i></small>

    </div>

  </div>

</div>
