<!-- Page Content-->
<div class="p-5">

  <div class="container p-5">

    <div class= "row align-items-center justify-content-center">

      <p>An art project for the environment and <i>future</i>.</p>

    </div>

    <div class= "row align-items-center justify-content-center">

        <%= link_to "Enter", design_path, class:"btn btn-link"%>

    </div>


  </div>

</div>
