<!-- Page Content-->
<div class="p-5">

  <div class="container p-5 text-center">

    <div class= "row d-flex align-items-center justify-content-center p-5 font-weight-light">

      <p>UNBOUND is the creative outcome of a partnership between RMIT photography and media students and The Social Studio, a Melbourne based fashion social enterprise. This event includes two elements: a panel discussion about ethical design and sustainability in the fashion industry and the world premiere of UNBOUND—an online 3D fashion show featuring fashion designers from Melbourne, Indonesia, and Malaysia.
The panel discussion will be hosted by Jenni Thorman from The Social Studio with panellists Felica Agatha (Indonesia), Tess Whitfort, Tamara Leacock, and Atong Omoli . You are warmly invited to join us for this timely discussion about sustainable production, zero waste design, ethical supply chains, and workers' rights.</p>

    </div>

    <div class= "row align-items-center justify-content-center">

        <%= link_to "Enter", design_path, class:"btn btn-light"%>

    </div>

    <div class= "row align-items-center justify-content-center p-5">

      <small><i>note: design page might take a moment to load</i></small>

    </div>

  </div>

</div>
