<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>

  <!-- Grid row 1 -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">


      <div class="avatar mx-auto">

        <img src="https://scontent.fmel5-1.fna.fbcdn.net/v/t1.0-9/89976063_2915292891926542_3671601214446895104_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=upFot15gWb0AX_s4sxH&_nc_ht=scontent.fmel5-1.fna&oh=9ff6a2c777de6bd34f6d633484354f51&oe=5FCF6754" class="w-50 border-0 img-fluid img-thumbnail rounded-circle z-depth-1"
          alt="kennardi-profile-pic">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Kennardi Sebestian</h5>

      <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>

      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>

      <ul class="list-unstyled mb-0">

        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">

          <i class="fa fa-facebook text-primary"> </i>

        </a>

        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">

          <i class="fab fa-twitter blue-text"> </i>

        </a>

        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">

          <i class="fab fa-instagram blue-text"> </i>

        </a>

      </ul>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">

      <div class="avatar mx-auto">

        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Claudia Perez</h5>

      <p class="text-uppercase blue-text"><strong>Web developer</strong></p>

      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

      <div class="avatar mx-auto">

        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Felicia Chandra</h5>

      <p class="text-uppercase blue-text"><strong>Photographer</strong></p>

      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim est fugiat nulla id eu laborum.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->

  </div>
  <!-- Grid row -->


  <!-- Grid row 2 -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">


      <div class="avatar mx-auto">

        <img src="https://scontent.fmel5-1.fna.fbcdn.net/v/t1.0-9/89976063_2915292891926542_3671601214446895104_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=upFot15gWb0AX_s4sxH&_nc_ht=scontent.fmel5-1.fna&oh=9ff6a2c777de6bd34f6d633484354f51&oe=5FCF6754" class="w-50 border-0 img-fluid img-thumbnail rounded-circle z-depth-1"
          alt="kennardi-profile-pic">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Gina Lim</h5>

      <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>

      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">

      <div class="avatar mx-auto">

        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Felicia Agatha</h5>

      <p class="text-uppercase blue-text"><strong>Web developer</strong></p>

      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">

      <div class="avatar mx-auto">

        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">

      </div>

      <h5 class="font-weight-bold mt-4 mb-3">Nancy Oziya</h5>

      <p class="text-uppercase blue-text"><strong>Photographer</strong></p>

      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim est fugiat nulla id eu laborum.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
