<!-- Page Content-->
<div class="p-5">

  <div class="container p-5">

    <div class= "row align-items-center justify-content-center p-5">

      <h2>The Designers</h2>

    </div>

    <div class= "row align-items-center justify-content-center p-5">

      <h2>The Photographers</h2>

    </div>

    <div class= "row align-items-center justify-content-center p-5">

      <h2>The Website Guy</h2>

    </div>

    <div class= "row align-items-end justify-content-center bottom pt-5">

      <%= link_to "back to designs", design_path, class:"btn btn-link" %>

    </div>

  </div>

</div>
