<!-- Design 1 -->


<div class="container p-5">

  <div class="row">

    <div class="p-5 col-12 col-md-8 col-sm-8">

      <iframe title="sample-1" width="480" height="720" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
      </iframe>

    </div>

    <div class="p-5 col-6 col-md-4 col-sm-8">

        design profile 1

    </div>

  </div>

</div>


<hr>


<!-- Design 2 -->


<div class="container p-5">

  <div class="row">

        <div class="p-5 col-6 col-md-4 col-sm-8">

            design profile 2

        </div>

    <div class="p-5 col-12 col-md-8 col-sm-8">

      <iframe title="sample-2" width="480" height="720" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
      </iframe>

    </div>

  </div>

</div>

<hr>

  <!-- Design 3 -->


<div class="container p-5">

  <div class="row">

    <div class="p-5 col-12 col-md-8 col-sm-8">

      <iframe title="sample-3" width="480" height="720" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
      </iframe>

    </div>

    <div class="p-5 col-6 col-md-4 col-sm-8">

        design profile 3

    </div>

  </div>

</div>

<hr>


  <!-- Design 4 -->


<div class="container p-5">

    <div class="row">

          <div class="p-5 col-6 col-md-4 col-sm-8">

              design profile 4

          </div>

      <div class="p-5 col-12 col-md-8 col-sm-8">

        <iframe title="sample-4" width="480" height="720" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

    </div>

</div>

<hr>

<!-- Design 5 -->


<div class="container p-5">

  <div class="row">

    <div class="p-5 col-12 col-md-8 col-sm-8">

      <iframe title="sample-5" width="480" height="720" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
      </iframe>

    </div>

    <div class="p-5 col-6 col-md-4 col-sm-8">

        design profile 5

    </div>

  </div>

</div>
