<hr>

<div class="pt-5">

  <center>  <h1>The Models</h1> </center>

</div>

<!-- Design 1 -->

<style>
  iframe {
    width: 480px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
  }
</style>


<div class="container p-5">

  <div class="row">

    <div class="p-5 col">

      <center>

        <iframe title="sample-1" src="https://sketchfab.com/models/06d32c3fd4204d619150d819ab348ac3/embed?autospin=0.4&amp;autostart=1&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

        <img class="border-0 p-2" src="https://i.postimg.cc/Ss3QPG49/Claudia-real.png" alt="claudia-real">

      </center>

    </div>

    <div class="p-5 row">

      <div class="p-5 col">

        <h3>

          Claudia Perez

        </h3>

        <br>

        <p class="text-justify">

          An aspiring fashion and creative designer, in her second year undertaking a Bachelor of Fashion (Design) at RMIT University. Her work consistently aims to consider sustainable practice and to challenge preconceptions and objective realities with specific and allegorical design intentions. She is currently enjoying the process of exploring and experimenting with various design styles and areas of the fashion industry as she works to develop her own design aesthetic and practice.

        </p>

      </div>

    </div>

  </div>

</div>


<hr>


<!-- Design 2 -->


<div class="container p-5">

  <div class="row">

    <div class="p-5 col">

      <center>

        <iframe title="sample-2" src="https://sketchfab.com/models/dd6b6cad0718498a89c2d8930766770d/embed?autospin=0.2&amp;autostart=1&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

        <img class="border-0 p-2" src="https://i.postimg.cc/J0H072xK/Felicia-Chandra.jpg" alt="felicia-chandra-design">

      </center>

    </div>

    <div class="p-5 row">

      <div class="p-5 col">

        <h3>

          Felicia Chandra

        </h3>

        <br>

        <p class="text-justify">

          An artist from Jakarta, Indonesia. For now, she is focusing on fashion design and is currently working on her graduate project in ESMOD Jakarta. Felicia discovered that her work mostly focus on the combination of colors on casual silhouettes deconstruction and creative fabric techniques.

        </p>

      </div>

    </div>

  </div>

</div>

<hr>

  <!-- Design 3 -->


  <div class="container p-5">

    <div class="row">

      <div class="p-5 col">

        <center>

          <div class="row">

            <iframe title="sample-3" src="https://sketchfab.com/models/81687cbc195a45c3ad58f86ab6dd74df/embed?autospin=0.2&amp;autostart=1&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
            </iframe>

          </div>

          <div class="row">

            <img class="border-0 p-2" src="https://i.postimg.cc/wv7LJFFR/Gina.png" alt="gina-lim-design">

          </div>

        </center>

      </div>

      <div class="p-5 row">

        <div class="p-5 col">

          <h3>

            Gina Lim

          </h3>

          <br>

          <p class="text-justify">

            A Bachelor of Fashion Design graduate from Whitehouse Institute of Design. Found interest in working with the concept of androgynous or in other words gender neutral to create clothings that would best suit both genders. The arguments that menswear is suppose to be only ‘menswear’ interests her, therefore she's aiming and attempted to incorporate ‘masculinity’ into my womenswear collections and vice versa. She has also want to cross boundaries in fashion and reinvent forms of clothing while simultaneously transmitting the traditional qualities of culture into her work.

          </p>

        </div>

      </div>

    </div>

  </div>

<hr>


  <!-- Design 4 -->


  <div class="container p-5">

    <div class="row">

      <div class="p-5 col">

        <center>

          <iframe title="sample-4" src="https://sketchfab.com/models/d11f3fac102f440a96fa7db389152368/embed?autospin=0.2&amp;autostart=1&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
          </iframe>

          <img class="border-0 p-2" src="https://i.postimg.cc/mZVWhwJy/Felicia-Agatha.jpg" alt="felicia-aga-design">


        </center>

      </div>

      <div class="p-5 row">

        <div class="p-5 col">

          <h3>Felicia Agatha</h3>

          <br>

          <p class="text-justify">Founder and designer of AGATHELAB. Felicia Agatha (b.1999) is an Indonesian designer who aims to bring elevated modernism by experimenting with different elements. She graduated from LASALLE College of The Arts Singapore, specializing in Womenswear Creative Pattern Cutting. She is the winner of Graduate Fashion Foundation’s International Artefact Innovation Award 2020 for Concept. The award aims to get wider perspectives of this exciting area of international fashion and challenge the idea of current fashion boundaries.

            <br><br>

            <a href="https://www.instagram.com/agathelabco/"><i class="fab fa-instagram blue-text"></i> AGATHELAB</a>
          </p>

        </div>

      </div>

    </div>

  </div>

<hr>

<!-- Design 5 -->


<div class="container p-5">

  <div class="row">

    <div class="p-5 col">

      <center>

        <iframe title="sample-5" src="https://sketchfab.com/models/b57772df39dd4436b775ccb1f51ccf70/embed?autospin=0.4&amp;autostart=1&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

        <img class="border-0 p-2" src="https://i.postimg.cc/3Nx62sVC/Nancy-Real.jpg" alt="nancy-design">

      </center>

    </div>

    <div class="p-5 row">

      <div class="p-5 col">

        <h3>

          Nancy Oziya

        </h3>

        <br>

        <p class="text-justify">

          Originally from Uganda. She studied Fashion Design and Technology at RMIT and has been working in the fashion industry for the past two years. She had done work for the NGV in collaboration with flack studio for the best of the best dining in 2019. In addition to participating in Melbourne's Fashion Week and VAMFF as well as designing and making garments for individuals such as Jan Fran from Studio 10. Also, works as a sewing teacher at The Social Studio.

        </p>

      </div>

    </div>

  </div>

</div>

<div class="p-5">

  <a target="_blank" href="https://drive.google.com/drive/folders/1ldPCyaahDHkgAIavAKivx6oaIyiTWdZV?fbclid=IwAR0ovp0i3CK7JNI-d_LU_Nqkz87CWGWMjZBGw-aTs27lwsrtyNzzkDVBND8">

    <center>    <i><h1>The Interview Link</h1></i>   </center>

  </a>

</div>

<div class="pt-5 lh-6">

  <center>    <strong><h1>The Team</h1></strong>   </center>

  <div class="d-block text-center">

    <p>

      <b><u>Moderators</u></b>

      <br>

      <a href="Kennardisebastian@yahoo.com">Kennardi Sebastian</a>

      <br>

      <a href="mailto:helena_wijaya99@gmail.com">Helena Wijaya</a>

      <br>

      <a href="mailto:abbymaree13@gmail.com">Abby Maree</a>

      <br>

      <a href="mailto:tomric18@gmail.com">Tom Richards</a>

      <br>

      <b><u>Designers</u></b>

      <br>

      <a href="mailto:claudiaperez193@outlook.com">Claudia Perez</a>

      <br>

      <a href="mailto:felcia.chandra@gmail.com">Felicia Chandra</a>

      <br>

      <a href="mailto:ginaaalim@gmail.com">Gina Lim</a>

      <br>

      <a href="mailto:feliciagatha99@gmail.com">Felicia Agatha</a>

      <br>

      <a href="mailto:nancyoziya@gmail.com">Nancy Oziya</a>

      <br>

      <b><u>Website Guy</u></b>

      <br>

      <a href="mailto:melvin1hong@gmail.com">Melvin Hong</a>


    </p>


    <br>


  </div>

</div>

<hr>
