<!-- 3D models page -->


<!-- need premium to unlock features
<iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/e5ab9d2e39f446639cc76d8467ea666f/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->


<div class="main-container">


  <!-- Design 1 / Model 1 and 2-->


  <div class="container-fluid p-5 d-flex align-items-center justify-content-center">

    <div class="row">

      <div class="sketchfab-embed-wrapper p-2 col">

        <iframe title="sample-1" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-2" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="p-5">

          design profile 1

      </div>

    </div>

  </div>


  <!-- Design 2 / Model 3 and 4-->


  <div class="container-fluid p-5 d-flex align-items-center justify-content-center">

    <div class="row">

      <div class="p-5">

          design profile 2

      </div>


      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-3" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-4" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

    </div>

  </div>



  <!-- Design 3 / Model 5 and 6-->


  <div class="container-fluid p-5 d-flex align-items-center justify-content-center">

    <div class="row">

      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-5" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-6" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="p-5">

          design profile 3

      </div>

    </div>

  </div>


  <!-- Design 4 / Model 7 and 8 -->


  <div class="container-fluid p-5 d-flex align-items-center justify-content-center">

    <div class="row">

      <div class="p-5">

          design profile 4

      </div>


      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-7" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

      <div class="sketchfab-embed-wrapper p-2">

        <iframe title="sample-8" width="360" height="480" src="https://sketchfab.com/models/891d821ab8964bc389f149905a557b2b/embed?autostart=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0;autostart=1&amp;ui_hint=2&amp;autospin=0.2" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>

      </div>

    </div>

  </div>

</div>
