<!-- Navigation Block -->
<div class="bloc l-bloc" id="nav-bloc">


  <div class="container">

  	<nav class="navbar row">

  		<div class="navbar-header">

  			<a class="navbar-brand" href="#">UNBOUND</a>

  		</div>

  		<div class="">

          <%= link_to "the team", team_path %>

  		</div>

  	</nav>

  </div>

</div>
<!-- Navigation Block END -->
