<!-- Navigation Block -->
<div class="bloc l-bloc" id="nav-bloc">

  <div class="container">

  	<nav class="navbar row">

  		<div class="navbar-header">

  			<a class="navbar-brand" href="/home"><img src="https://lh3.googleusercontent.com/XApOf4AL4IB6tI9qbBocPsovLSE4pKGlRQEjqVbYx1cnY3Mhg4zp60cjOIrYqncMbanntJPjsHXXmq4Ogmhk-_JtVni24V0zJxgXlSEQ8NX0k7B0eOZQ3tSxkooCiYKJzhpyXFg=w2400" alt="unbound-header-logo"></a>

  		</div>

  		<div class="px-5">

          <%= link_to "the team", team_path, class:"px-2" %>
          <%= link_to "the designers", designers_path, class:"px-2" %>

  		</div>

  	</nav>

  </div>

</div>
<!-- Navigation Block END -->
